[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce4-Composite-Editor
Comment=Xfce4 Composite Options Editor
Terminal=false
Type=Application
Categories=Gnome;GTK;;Settings;DesktopSettings;X-XFCE;X-XFCE-SettingsDialog;
Icon=Xfwm4CompositeEditor.png
Exec=xfce4-composite-editor